:root {
    --background-color: #1b1b1c;
    --font-color: #fff;
    --border-color: rgba(255, 255, 255, .06);;
    --msg-background-color: #2c2c2e;
    --msg-text-color: #f9fafb;
}

html.dark {
    --background-color: #1b1b1c;
    --main-background-color: rgba(255, 255, 255, .06);
    --font-color: #fff;
    --border-color: rgba(255, 255, 255, .06);
    --msg-background-color: #2c2c2e;
    --msg-text-color: #f9fafb;
}

html.light {
    --background-color: #f9fafb;
    --main-background-color: rgba(0, 0, 0, .04);
    --font-color: #000;
    --border-color: rgba(0, 0, 0, .04);
    --msg-background-color: #edf3fe;
    --msg-text-color: #000;
}
